<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.integral.mapper.IntegralMapper" >

    <select id="queryCar" resultType="com.jk.integral.model.Store">
        select * from t_store where commType = 5
    </select>

    <select id="queryBoutique" resultType="com.jk.integral.model.Store">
        select * from t_store where commType = 1
    </select>

    <select id="queryIntegralById" resultType="com.jk.integral.model.Integral">
        select * from t_integral where integralUserId = #{userId}
    </select>

    <update id="exchange" parameterType="int">
        update t_integral set amount = amount-#{commIntegral} where integralUserId = #{uid}
    </update>

</mapper>