<!DOCTYPE html>
<html lang="en"   xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/js/bootstrap/bootstrap3/js/bootstrap.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap/bootstrap3/css/bootstrap.css}"/>
    &lt;!&ndash; bootstrap日期插件 &ndash;&gt;
    <script th:src="@{/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
    <script th:src="@{/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
    <link rel="stylesheet" th:href="@{/js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css}">

    &lt;!&ndash;bootstrap下拉框多选和样式&ndash;&gt;
    &lt;!&ndash; Latest compiled and minified CSS &ndash;&gt;
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    &lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    &lt;!&ndash; (Optional) Latest compiled and minified JavaScript translation files &ndash;&gt;
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/i18n/defaults-zh_CN.min.js"></script>

    &lt;!&ndash;bootstrap图片上传&ndash;&gt;
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">-->

</head>
<body>
123
<!--<font size="6">个人信息</font>
<form class="form-horizontal"  th:object="${user}" th:action="@{/userData/edit}" method="post"x>
    <div class="form-group">
        <input type="hidden" id="roleIds" name="roleIds" th:value="${user.userRole}" />
        <input type="hidden" name="id" th:value="${user.id}" />
        <label class="col-sm-2 control-label">用户名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="nickName" th:value="*{nickName}" placeholder="nickName" style="width: 350px">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">账号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="account" th:value="*{account}" disabled  style="width: 350px">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">积分</label>
        <div class="col-sm-2">
            <input type="text" class="form-control" name="jifen" th:value="*{jifen}" disabled  style="width: 200px">

        </div>
        <div class="col-sm-8">
            <a  onclick="toChongZhi()" class="btn btn-info">充值</a>
        </div>
    </div>
    &lt;!&ndash;<div class="form-group">
        <label class="col-sm-2 control-label">密码</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" th:value="*{password}" placeholder="Password"  style="width: 350px">
        </div>
    </div>&ndash;&gt;
    <div class="form-group">
        <label class="col-sm-2 control-label">手机号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="mobile" th:value="*{mobile}" placeholder="mobile"  style="width: 350px">
        </div>
    </div>
    &lt;!&ndash;<div class="form-group">
        <label class="col-sm-2 control-label">修改日期</label>
        <div class="col-sm-10">
            <input type="text" class="form-control date" name="createTimes" th:value="*{createTimes}" placeholder="createTimes"  style="width: 350px">
        </div>
    </div>&ndash;&gt;
   <div class="form-group"  style="display: none">
        <label for="userRole" class="col-sm-2 control-label">角色</label>
        <div class="col-sm-10">
            <select  class="selectpicker" name="userRole" th:value="*{userRole}"  id="userRole" data-style="btn-info" data-live-search="true"  title="请选择" multiple >
                &lt;!&ndash;&lt;!&ndash;
                <select name="userRole"  id="userRole" class="form-control" multiple>&ndash;&gt;&ndash;&gt;
                <option th:each="role:${roleList}" th:value="${role.id}">
                    <span th:text="${role.name}"></span>
                </option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label">形象</label>
        <div class="col-sm-10" style="width: 500px">
            <input type="file" class="projectfile" accept="image/*" id="fileinput" name="file" >
            <input type="text" style="display: none"   th:value="*{userImg}"  id="hideImg" name="userImg">
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" onclick="toSuccess()" value="提交" class="btn btn-info" />
            <a  onclick="toHome()" class="btn btn-info">返回</a>
        </div>
    </div>
</form>-->

<!--<script type="text/javascript">

    $(function (){
        initEditFileInput();
    })

    function toChongZhi(){
        if (window.top!=window.self){
            window.top.location="../userData/toChongZhi";
        }
    }

    function initEditFileInput(){
        var imgFile =  $("#hideImg").val();
        editFileInput(imgFile);
    }

    function toSuccess() {
        alert("修改成功");
    }

    function toHome(){
        if (window.top!=window.self){
            window.top.location="../blog/toHome";
        }
    }

    //回显图片
    function editFileInput(url){
        $('#fileinput').fileinput({
            initialPreview:url,//回显地址url
            initialPreviewConfig: [
                {key: 1, showDelete: false}
            ],
            initialPreviewAsData: true,
            language: 'zh', //设置语言
            uploadUrl: '../userData/uploadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            //dropZoneEnabled: false,//是否显示拖拽区域
            //minImageWidth: 50, //图片的最小宽度
            //minImageHeight: 50,//图片的最小高度
            //maxImageWidth: 1000,//图片的最大宽度
            //maxImageHeight: 1000,//图片的最大高度
            //maxFileSize: 0,//单位为kb，如果为0表示不限制文件大小
            //minFileCount: 0,
            maxFileCount: 1, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {

            alert(data.response)
            var imgval = data.response;
            $('#hideImg').val(imgval);
        });
    }


    $(document).ready(function() {
        //控制点字符串类似于1,2,3
        var controlIdsValueStr = $("#roleIds").val();
        //按,拆分成数组
        var controlIdsValueArr = controlIdsValueStr.split(",");
        //如果字符串不为空就进行选中操作
        if (controlIdsValueStr){
            //根据id获取所有option
            var controlOptions = document.getElementById("userRole");
            //遍历所有option 有与控制点数组中相等的就选中
            for (var i = 0;i<controlOptions.options.length;i++){
                for (var j = 0; j < controlIdsValueArr.length; j++) {
                    if (controlOptions.options[i].value==controlIdsValueArr[j]){
                        console.log(controlIdsValueArr[j])
                        controlOptions.options[i].selected=true;
                    }
                }
            }
        }
        //将下拉选变成下拉多选，使其可以选择
    });

    $('.date').datetimepicker({
        language: 'zh-CN',//显示中文
        //	  format: 'yyyy-mm-dd hh:ii:ss',//显示格式
        format: 'yyyy-mm-dd',//显示格式
        minView: "month",//设置只显示到月份
        initialDate: new Date(),//初始化当前日期
        autoclose: true,//选中自动关闭
        todayBtn: true//显示今日按钮
    });
</script>-->
</body>
</html>