<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>积分商城首页</title>

    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery-1.12.4.min.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery.cookie.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery.json-2.2.min.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/common.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/position.js?resVer=20191118185343"></script>

    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/normalize.css?resVer=20191118185343"/>
    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/tipsLayer.css?resVer=20191118185343"/>
    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/Popupwindow.css?resVer=20191118185343"/>

    <link href="https://m.jf.10010.com/cms/jf-res/web/css/homePageNew.css?resVer=20191118185343" rel="stylesheet" type="text/css" />
    <link href="https://m.jf.10010.com/cms/jf-res/web/css/banner.css?resVer=20191118185343" rel="stylesheet" type="text/css" />
    <link href="https://m.jf.10010.com/cms/jf-res/web/css/style.css?resVer=20191118185343" rel="stylesheet" type="text/css" />

    <script language='javascript' type='text/javascript' src='https://m.jf.10010.com/cms/nps/lib/ma.js?v=201910102128' charset='utf-8'></script>

    <link rel="stylesheet" type="text/css" href="../EasyUI(1)/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../EasyUI(1)/themes/icon.css">
    <script type="text/javascript" src="../EasyUI(1)/jquery.min.js"></script>
    <script type="text/javascript" src="../EasyUI(1)/jquery.easyui.min.js"></script>
</head>
<body>
<!--头部banner-->
<!--头部-->
<div style="margin-left: 160px;margin-top: 5px">
    <div style="margin-top: 5px;background-color: #f4f3f3;width: 88%">
        <h1 align="center">欢迎登陆！ 我的积分：</h1>
        <div style="margin-left: 1000px">
            <a href="../page/toMyStore"><h3>我兑换的</h3></a>
        </div>
    </div>

    <div style="margin-top: 5px"></div>
    <img src="../images/c87edc4853c21a0351af89e654ee782c.jpg" width="88%" height="320px">
</div>
<div id="content">

    <!--推荐商品-->
    <div class="center adsRecommend recommendOne" >
        <a class="recomUrl" href="javascript:void(0);"></a>
    </div>
    <div class="center goodsBanner">
        <ul class="goodsUL" id="Boutique">

        </ul>
    </div>

    <!--家居用品-->
    <div class="center goodsFloor goodsFloor-three" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor03.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="houseHome">

            </ul>
        </div>
    </div>

    <!--家用电器-->
    <div class="center goodsFloor goodsFloor-four" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor04.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="appliance">

            </ul>
        </div>
    </div>

    <!--手机数码-->
    <div class="center goodsFloor goodsFloor-five" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor05.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="numerical">

            </ul>
        </div>
    </div>

    <!--汽车周边-->
    <div class="center goodsFloor goodsFloor-six" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor06.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="car">

            </ul>
        </div>
    </div>
</div>
</div>

<div class="thickdiv" style="display:none;"></div>
<div id="dd"></div>
<script>
    $(function () {
        queryCar();
        queryBoutique();
        queryHouseHome();
        queryNumerical();
        queryAppliance();
    })

    function queryBoutique() {
        $.ajax({
            url:"../integral/queryBoutique",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank"><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'件</span><br><a href="">立即兑换</a></li>';
                }
                $("#Boutique").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function queryNumerical() {
        $.ajax({
            url:"../integral/queryNumerical",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank"><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'件</span></li>';
                }
                $("#numerical").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function queryAppliance() {
        $.ajax({
            url:"../integral/queryAppliance",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank"><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'件</span></li>';
                }
                $("#appliance").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function queryHouseHome() {
        $.ajax({
            url:"../integral/queryHouseHome",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank"><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'件</span></li>';
                }
                $("#houseHome").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function queryCar() {
        $.ajax({
            url:"../integral/queryCar",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank"><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="../page/toStoreInfo?commId='+data[i].commId+'" target="_blank" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'件</span></li>';
                }
                $("#car").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
</script>
</body>
</html>