<!DOCTYPE html>

<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <title>积分商城首页</title>

    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery-1.12.4.min.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery.cookie.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/jquery.json-2.2.min.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/common.js?resVer=20191118185343"></script>
    <script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/position.js?resVer=20191118185343"></script>


    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/normalize.css?resVer=20191118185343"/>
    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/tipsLayer.css?resVer=20191118185343"/>
    <link rel="stylesheet" href="https://m.jf.10010.com/cms/jf-res/web/css/Popupwindow.css?resVer=20191118185343"/>

    <link href="https://m.jf.10010.com/cms/jf-res/web/css/homePageNew.css?resVer=20191118185343" rel="stylesheet" type="text/css" />
    <link href="https://m.jf.10010.com/cms/jf-res/web/css/banner.css?resVer=20191118185343" rel="stylesheet" type="text/css" />
    <link href="https://m.jf.10010.com/cms/jf-res/web/css/style.css?resVer=20191118185343" rel="stylesheet" type="text/css" />



    <script language='javascript' type='text/javascript' src='https://m.jf.10010.com/cms/nps/lib/ma.js?v=201910102128' charset='utf-8'></script></head>
<body>
<!--头部banner-->
<!--头部-->
<link href="https://m.jf.10010.com/cms/jf-res/web/css/topNew.css?resVer=20191118185343" rel="stylesheet" type="text/css" />
<script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/top.js?resVer=20191118185343"></script>
<link rel="stylesheet" href="http://jf.10010.com/cms/game/3/qn/first/index_pc.css">

<script type="text/javascript" src="http://jf.10010.com/cms/game/3/qn/first/index_pc.js"></script>
<!--[if lt IE 9]>
<script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/json2.js?resVer=20191118185343"></script>
<![endif]-->
<script>
    var isToFlowPkg = false;
    var onlyLogin = false;
</script>
<script charset="utf-8" type="text/javascript" src="https://m.jf.10010.com/cms/jf-res/web/js/headerOfPCIndex.js?resVer=20191118185343"></script>
<div id="content">

    <!--推荐商品-->
    <div class="center adsRecommend recommendOne" >
        <a class="recomUrl" href="javascript:void(0);"></a>
    </div>
    <div class="center goodsBanner">
        <ul class="goodsUL" id="Boutique">

        </ul>
    </div>

    <!--家居用品-->
    <div class="center goodsFloor goodsFloor-three" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor03.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="houseHome">

            </ul>
        </div>
    </div>

    <!--家用电器-->
    <div class="center goodsFloor goodsFloor-four" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor04.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="appliance">

            </ul>
        </div>
    </div>

    <!--手机数码-->
    <div class="center goodsFloor goodsFloor-five" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor05.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="numerical">

            </ul>
        </div>
    </div>

    <!--汽车周边-->
    <div class="center goodsFloor goodsFloor-six" style="margin-top: 10px">
        <div class="floorLeft">
            <div class="leftBanner banner-box">
                <div class="bd">
                    <ul>
                        <li>
                            <div class="m-width">
                                <img src="https://m.jf.10010.com/cms/jf-res/web/images/homePageNew/floor06.jpg?resVer=20191118185343" />
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="banner-btn">
                    <div class="hd"><ul></ul></div>
                </div>
            </div>
        </div>
        <div class="floorRight">
            <ul id="car">

            </ul>
        </div>
    </div>
</div>
</div>

<div class="thickdiv" style="display:none;"></div>

<script>
    $(function () {
        queryCar();
        queryBoutique();
    })

    function queryBoutique() {
        $.ajax({
            url:"../integral/queryBoutique",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href=""><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'</span></li>';
                }
                $("#Boutique").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }

    function queryCar() {
        $.ajax({
            url:"../integral/queryCar",
            success:function (data) {
                var html = "";
                for (var i=0;i<data.length;i++){
                    html += '<li><a href=""><img src="'+data[i].commImg+'" width="210px" height="210px"></a><a href="" class="goodsName">'+data[i].commName+'</a><span><i>'+data[i].commIntegral+'</i>积分 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;剩余数量:'+data[i].commCount+'</span></li>';
                }
                $("#car").html(html);
            },
            error:function () {
                alert("程序出错了！");
            }
        })
    }
</script>
</body>

</html>