<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我兑换的</title>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<body>

<table class="table" id="myStore"></table>

<script>
    $(function () {
        queryMyStore();
    })

    function queryMyStore() {
        $('#myStore').bootstrapTable({
            url:'../integral/queryMyStore',//获取数据地址     
            pagination:true, //是否展示分页    
            pageList:[5,10,15,20,25],//分页组件    
            pageNumber:1,
            pageSize:5,//默认每页条数  
            search:false,//是否显示搜索框
            showColumns:false,//是否显示 内容列下拉框    
            showToggle:false,//是否显示 切换试图（table/card）按钮    
            showPaginationSwitch:false,//是否显示 数据条数选择框    
            showRefresh:false,//是否显示刷新按钮    
            detailView:false,//设置为 true 可以显示详细页面模式。    
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行    
            sidePagination:'client',//分页方式：client客户端分页，server服务端分页   
            striped:true,
            queryParams:function(){
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                };
            },
            columns:[
                {field:'commName',title:'商品名称',align:'center',width:360},
                {field:'typeName',title:'商品类型',align:'center',width:150},
                {field:'commImg',title:'商品图片',align:'center',width:150,
                    formatter:function(value,row,index){
                        return '<img src="'+value+'" width="70px" height="70px">';
                    }
                },
                {field:'commIntegral',title:'扣除积分',align:'center',width:150,
                    formatter:function (value,row,index) {
                        return value*row.goodsCount;
                    }
                },
                {field:'goodsCount',title:'兑换数量',align:'center',width:150,
                    formatter:function(value,row,index){
                        return value+"件";
                    }
                },
                {field:'exchangeTime',title:'兑换时间',align:'center',width:260,
                    formatter:function(value,row,index){
                        var date =new Date(value);
                        var tol=date.toLocaleString(date);
                        return tol;
                    }
                }
            ]
        });
    }
</script>
</body>
</html>