<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册中心</title>
    <script type="text/javascript" src="../js/jquery-1.8.0.js"></script>
    <link rel="shortcut icon" th:href="@{/static/img/favicon.ico}" />
    <link rel="stylesheet" type="text/css"
          th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/plugins/vali/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/plugins/toast/jquery.toast.css}">
    <link rel="stylesheet" type="text/css"
          th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!-- bootstrap上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
</head>
<body style="background-color: #0c5460;">
<div class="col-md-12">
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <h1 class="font-weight-bold text-center"
                style="font-family: 'verdana'">
                异清轩博客&nbsp; <small class="font-weight-bold"
                                   style="font-family: 'verdana'">注册</small>
            </h1>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">
            <div class="tile">
                <form class="form-horizontal" id="userFormId" action="/user/saveUser" method="post" >
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3" >用户名：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="username" onblur="aaa()"><span id="ooo"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3">显示昵称：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="text" name="named">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3">性别：</label>
                        <div class="col-md-9">
                            <label class="radio-inline">
                                <input type="radio" name="userSex"  value="1"> 男
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="userSex"  value="2"> 女
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="userSex"  value="3"> 保密
                            </label>
                        </div>
                    </div>
                    <div class="row myrow">
                        <div class="col-md-3">
                            <label for="headImg">头像</label>
                        </div>
                        <div class="col-md-9" >
                            <input type="text" id="headImg" name="headImg" />
                            <input type="file"   class="projectfile"  name="img" id="headImg2">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3">手机号：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="password" name="phone" id="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3">登录密码：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="password" name="password" id="password">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label font-weight-bold col-md-3">确认密码：</label>
                        <div class="col-md-9">
                            <input class="form-control" type="password" id="confirmPwd" onblur="kkk()">
                            <span id="msg"></span>
                        </div>
                    </div>
                    <div class="tile-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-sm btn-light float-right" id="install_btn" type="button"
                                        onclick="install()">
                                    <i class="fa fa-fw fa-lg fa-check-circle"></i>
                                    <input type="submit" class="btns" onmouseover="this.style.backgroundPosition='left -40px'" onmouseout="this.style.backgroundPosition='left top'" value="提交" />
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function kkk() {
        var a= $("#password").val();
        var b= $("#confirmPwd").val();
        if (a!=b && a!=null &&a!="" && b!=null && b!=""){

            $("#msg").html("<font color='red'>兩次密码输入不一致</font>")
        }else{
            $("#msg").html("<font color='green'>√</font>")
        }
    }


    function aaa(){
        var a= $("[name='username']").val();
        $.ajax({
            url: "../user/queryUserByName",
            type: "post",
            data: $("#userFormId").serialize(),
            success: function(data){
                if(data == "fail"){
                    $("#ooo").html("<font color='red'>該用戶名已存在</font>")
                }else{
                    $("#ooo").html("<font color='green'>√</font>")
                }
            }
        })
    }

    $(function () {
        uploadify();
    })
    //文件上传
    function uploadify(){
        $('#headImg2').fileinput({
            language: 'zh', //设置语言
            uploadUrl: '../img/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'png', 'jpeg', 'gif', 'bmp'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 5, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
        }).on('fileuploaded', function(event, data, previewId, index) {
            alert(data.response.imgUrl)
            var imgval = $('#testimg').val();
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.imgUrl;
            }else{
                imgval += ","+data.response.imgUrl;
            }
            $('#headImg').val(imgval);
        });

    }

</script>

</body>
</html>