<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>积分查询</title>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- bootstrap treeview -->
    <link rel="stylesheet" href="../js/bootstrap-treeview/bootstrap-treeview.min.css" />
    <script src="../js/bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <!-- bootstrap 选项卡 -->
    <link rel="stylesheet" href="../js/bootStrap-addTabs/bootstrap.addtabs.css">
    <script src="../js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <!-- bootstrap日期插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- bootstrap 弹框 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<br>
<div id="toolbar" class="container">
    <div class="form-inline">
        <div class="form-group">
            <label for="integralName">用户姓名/账号/手机号：</label>
            <input type="text" id="integralName" class="form-control" placeholder="用户姓名/用户账号/手机号" />
        </div>
        <div class="form-group" style="margin-left: 100px">
            <label for="integralUserSex">用户性别：</label>
            <select class="form-control" id="integralUserSex">
                <option value="-1">请选择</option>
                <option value="1">男</option>
                <option value="2">女</option>
                <option value="3">保密</option>
            </select>
        </div>
        <div class="form-group" style="margin-left: 100px">
            <button onclick="searchIntegral()" class="btn btn-primary glyphicon glyphicon-search">搜索</button>
        </div>
    </div>
</div>
<br>

<table class="table" id="showIntegralId"></table>

<script>
    $(function () {
        queryIntegral();
    })

    function searchIntegral() {
        $('#showIntegralId').bootstrapTable('refresh');
    }

    function queryIntegral(){
        $('#showIntegralId').bootstrapTable({
            url:'../integral/queryIntegral',//获取数据地址     
            pagination:true, //是否展示分页    
            pageList:[5,10,15,20,25],//分页组件    
            pageNumber:1,
            pageSize:5,//默认每页条数  
            search:false,//是否显示搜索框
            showColumns:false,//是否显示 内容列下拉框    
            showToggle:false,//是否显示 切换试图（table/card）按钮    
            showPaginationSwitch:false,//是否显示 数据条数选择框    
            showRefresh:false,//是否显示刷新按钮    
            detailView:false,//设置为 true 可以显示详细页面模式。    
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行    
            sidePagination:'server',//分页方式：client客户端分页，server服务端分页   
            striped:true,
            queryParams:function(){
                return {
                    page: this.pageNumber,
                    rows: this.pageSize,
                    integralName:$("#integralName").val(),
                    integralUserSex:$("#integralUserSex").val()
                };
            },
            columns:[
                {field:'integralId',title:'编号',align:'center',width:100},
                {field:'integralName',title:'用户姓名',align:'center',width:150},
                {field:'integralUserSex',title:'性别',align:'center',width:150,
                    formatter:function(value,row,index){
                        if(value==1){
                            return "男";
                        }else if(value==2){
                            return "女";
                        }else {
                            return "保密";
                        }
                    }
                },
                {field:'integralUserName',title:'用户账号',align:'center',width:150},
                {field:'integralPhone',title:'手机号',align:'center',width:200},
                {field:'amount',title:'剩余积分',align:'center',width:200},
                {field:'integralStatus',title:'积分状态',align:'center',width:150,
                    formatter:function(value,row,index){
                        return value==0?"正常":"禁用";
                    }
                },
                {field:'1',title:'操作',align:'center',
                    formatter:function(value,row,index){
                        if (row.integralStatus==0){
                            return '<button type="button" onclick="stopIntegral('+row.integralUserId+',\''+row.integralName+'\')" class="btn btn-warning glyphicon glyphicon-exclamation-sign">禁用积分</button>';
                        }
                        if (row.integralStatus==1){
                            return '<button type="button" onclick="recoverIntegral('+row.integralUserId+',\''+row.integralName+'\')" class="btn btn-success glyphicon glyphicon-repeat">恢复积分</button>';
                        }
                    }
                },
            ]
        });
    }

    function stopIntegral(integralUserId, name) {
        bootbox.confirm({
            size: "small",
            message: "你确定要禁用"+name+"的积分吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "../integral/stopIntegral",
                        type: "post",
                        data: {"integralUserId": integralUserId},
                        success: function () {
                            $('#showIntegralId').bootstrapTable('refresh');
                        }
                    })
                }
            }
        })
    }

    function recoverIntegral(integralUserId, name) {
        bootbox.confirm({
            size: "small",
            message: "你确定要恢复"+name+"的积分吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "class": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "class": "btn-danger",
                }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: "../integral/recoverIntegral",
                        type: "post",
                        data: {"integralUserId": integralUserId},
                        success: function () {
                            $('#showIntegralId').bootstrapTable('refresh');
                        }
                    })
                }
            }
        })
    }
</script>
</body>
</html>