<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../js/jquery-1.9.1.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="../js/bootstrap3/css/bootstrap.css"/>
    <script type="text/javascript" src="../js/bootstrap3/js/bootstrap.js"></script>
    <!-- bootstrap 表格 -->
    <link rel="stylesheet" href="../js/bootstrap-table/bootstrap-table.css" />
    <script src="../js/bootstrap-table/bootstrap-table.js"></script>
    <script src="../js/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <!-- bootstrap日期插件 -->
    <script src="../js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="../js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
    <!-- bootstrap 弹框 -->
    <script src="../js/bootstrap-bootbox/bootbox.js"></script>
    <!-- bootstrap上传插件 -->
    <script src="../js/bootstrap-fileinput/js/fileinput.js"></script>
    <script src="../js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" href="../js/bootstrap-fileinput/css/fileinput.css">
</head>
<body>
<button id="delUser" class="btn btn-danger glyphicon glyphicon-remove">批量删除</button>
<table class="table" id="myTable"></table>
</body>

<script>

    $(function () {
        queryAdminUser();
    })

    //绑定角色
    function updateRole(id,username){
        bootbox.dialog({
            title: "绑定角色",
            message: createAddContent("../page/toUpdateRole"),
            closeButton: true,
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i>保存",
                    "className": "btn btn-success",
                    "callback":function(){
                        $.ajax({
                            url: "../user/updUserRole",
                            type: "post",
                            data: {ids:id,roleId:$("#roleId").val()},
                            success: function(){
                                $("#myTable").bootstrapTable("refresh");
                            }
                        })
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i>取消",
                    "className": "btn btn-warning",
                    "callback":function(){}
                }
            }
        })
        // 回显
        $.ajax({
            url: "../user/queryUserOfRole",
            type: "post",
            data: {"id": id},
            success: function(data){
                $("#username2").val(username);
                $("#roleId").val(data);
            }
        })
    }
    //批删
    $("#delUser").click(function(){
        var row = $("#myTable").bootstrapTable("getSelections");
        var ids="";
        var names="";
        if(row==null || row.length==0){
            bootbox.alert({
                size: "small",
                title: "提示",
                message: "请选择要删除的数据！",
                callback: function(){}
            });
            return;
        }
        for(var i=0;i<row.length;i++){
            ids += ids==""?row[i].userId:","+row[i].userId;
            names += names==""?row[i].name:","+row[i].name;
        }
        bootbox.confirm({
            size: "small",
            message: "你确定要删除 "+names+" 吗?",
            buttons: {
                confirm: {
                    "label": "确认",
                    "className": "btn-success",
                },
                cancel: {
                    "label": "取消",
                    "className": "btn-danger",
                }
            },
            callback: function(result){
                if(result){
                    $.ajax({
                        url: "../user/deleteUserByIds",
                        type: "post",
                        data: {"ids":ids},
                        success:function(){
                            $("#myTable").bootstrapTable("refresh");
                        }
                    })
                }
            }
        })
    })
    //修改
    function updateUserDialog(id){
        bootbox.dialog({
            title: "修改",
            message: createAddContent("../page/toUpdAdminUser"),
            closeButton: true,
            buttons: {
                "success": {
                    "label": "<i class='icon-ok'></i>保存",
                    "className": "btn btn-success",
                    "callback":function(){
                        $.ajax({
                            url: "../user/updAdminUser",
                            type: "post",
                            data: $("#updForm").serialize(),
                            success: function(){
                                $("#myTable").bootstrapTable("refresh");
                            }
                        })
                    }
                },
                "cancel": {
                    "label": "<i class='icon-info'></i>取消",
                    "className": "btn btn-warning",
                    "callback":function(){}
                }
            }
        })
        // 回显
        $.ajax({
            url: "../user/queryAdminUserById",
            type: "post",
            data: {"id": id},
            dataType: "json",
            success: function(data){
                $("#userId").val(data.userId);
                $("#username").val(data.username);
                $("#name").val(data.name);
                $("#deptId").val(data.deptId);
                if(data.userSex == 1){
                    $("[name='userSex']").eq(0).attr("checked", true);
                } else {
                    $("[name='userSex']").eq(1).attr("checked", true);
                }
                $("#testimg").val(data.userImg);
                editFileInput(data.userImg);
            }
        })
    }
    // 修改回显图片使用，不能用于新增
    function editFileInput(url){
        $('#headImg').fileinput({
            initialPreview:url,//回显地址url
            initialPreviewConfig: [
                {key: 1, showDelete: false}
            ],
            initialPreviewAsData: true,
            language: 'zh', //设置语言
            uploadUrl: '../img/updaloadImg', //上传的地址
            allowedFileExtensions: ['jpg', 'png', 'jpeg', 'gif', 'bmp'],//接收的文件后缀
            showUpload: true, //是否显示上传按钮
            showCaption: false,//是否显示标题
            browseClass: "btn btn-primary", //按钮样式
            maxFileCount: 2, //表示允许同时上传的最大文件个数
            enctype: 'multipart/form-data',
            validateInitialCount:true,
            previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
            msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",

        }).on('fileuploaded', function(event, data, previewId, index) {
            var imgval = '';
            if(imgval == null || imgval == "" || imgval == undefined){
                imgval = data.response.imgUrl;
            }else{
                imgval += ","+data.response.imgUrl;
            }
            $('#testimg').val(imgval);
        });
    }
   //查询
    function queryAdminUser(){
        $('#myTable').bootstrapTable({
            url:'../user/queryAdminUser',//获取数据地址     
            pagination:true, //是否展示分页    
            pageList:[2,4,6,8,10],//分页组件    
            pageNumber:1,
            pageSize:2,//默认每页条数  
            search:true,//是否显示搜索框
            showColumns:false,//是否显示 内容列下拉框    
            showToggle:false,//是否显示 切换试图（table/card）按钮    
            showPaginationSwitch:false,//是否显示 数据条数选择框    
            showRefresh:false,//是否显示刷新按钮    
            detailView:false,//设置为 true 可以显示详细页面模式。    
            showFooter:false,//是否显示列脚
            clickToSelect: true, //是否启用点击选中行    
            sidePagination:'client',//分页方式：client客户端分页，server服务端分页   
            striped:true,
            columns:[
                {checkbox:true},
                {field:'userId',title:'管理员ID',align:'center',width:100},
                {field:'username',title:'用户名',align:'center',width:150},
                {field:'name',title:'真实姓名',align:'center',width:150},
                {field:'rname',title:'角色',align:'center',width:100},
                {field:'deptname',title:'部门',align:'center',width:100},
                {field:'userSex',title:'性别',align:'center',width:100,
                    formatter:function(value){
                        if (value==1){
                            return '男';
                        }else if(value==2){
                            return '女';
                        }
                    }
                },
                {field:'userImg',title:'头像',width:150,formatter:function(value,row,index){
                        return '<img width="100px" src="'+value+'"/>'
                }},
                {field:'111',title:'操作',formatter:function(value,row,index){
                        return '<button class="btn btn-success glyphicon glyphicon-edit" onclick="updateUserDialog('+ row.userId +')" >修改</button>    <button onclick="updateRole('+ row.userId +',\''+row.username+'\')" class="btn btn-success glyphicon glyphicon-add">绑定角色</button>'
                }}
            ]
        });
    }


    var res;
    function createAddContent(url){
        $.ajax({
            url:url,
            async:false,
            success:function(data){
                res = data;
            }
        });
        return res;
    }
</script>
</html>