<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.blogs.mapper.BlogsMapper" >
    <select id="HotBlogs" resultType="com.jk.blogs.model.Blogs">
        SELECT * from t_blogs b ORDER BY b.blogs_look DESC LIMIT 0,5
    </select>

    <select id="queryBlogsNews" resultType="com.jk.blogs.model.Blogs">
        SELECT b.blogs_title,b.blogs_content,b.blogs_img,b.blogs_like,b.blogs_look,b.blogs_url,b.blogs_time,u.username AS blogs_username FROM
        t_blogs b,t_user6 u where b.blogs_userid=u.userId  ORDER BY b.blogs_time desc LIMIT 0,5
    </select>
</mapper>